body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Navbar Styles */
nav {
  background-color: #79c4db;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Page Styles */
.container {
  max-width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #77c9bb;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Form Styles */
form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  width: 100%;
  margin-bottom: 1rem;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

/* Garland List Styles */
.garland-item {
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
}

.garland-item h2 {
  margin: 0;
}

.garland-item p {
  margin: 0.5rem 0;
}

.garland-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* SearchBar Styles */
.search-bar {
  width: 50%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Garland Tile Styles */
.garland-tiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  margin-top: 20px; 
}

.garland-tile {
  text-align: center;
  border: 1px solid #ddd; 
  padding: 10px;
  background-color: #fff; 
}

.garland-tile img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.garland-tile p {
  margin-top: 10px;
  font-size: 14px;
  color: #555; 
}
